*{
    box-sizing: border-box;
    margin: 0;
}
.upper-container{
    display: flex;
}
.cover-container{
    margin: 0 auto;
    width: 85vw;
}
.logo{
    margin: 15px;
    padding-left: 20px;
    font-size: larger;
    text-decoration: none;
    color: blue;
}
.logo:hover{
    color: rgb(160, 210, 254);
}
.logo{
    margin: 5px;
    padding-left: 20px;
    font-size: larger;
}