*{
    box-sizing: border-box;
    margin: 0;
}
.upper-container{
    display: flex;
}
.cover-container{
    margin: 0 auto;
    width: 85vw;
}
.logo{
    margin: 5px;
    padding-left: 20px;
    font-size: larger;
}