<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/home.css">
    <title>Yelp-Camp</title>
</head>
<body>
        <div class="upper-container">
            <div class="cover-container">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <a class="logo" href="#">Logo</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="nav-item navbar-nav ml-0">
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav">
                                    <a class="nav-link" href="/">Home</a>
                                    <a class="nav-link" href="/">Features</a>
                                    <a class="nav-link" href="/campgrounds/new">New Campground</a>
                                </div>
                            </div>
                            <% if(!currentUser) {%>
                            <a class="nav-link" href="/login">Login</a>
                            <a class="nav-link" href="/register">Register</a>
                            <% } else {%>
                            <a class="nav-link" href="/logout">Logout</a>
                            <% } %>
                        </div>
                    </div>
                </nav>
              <div class="upper-body">
                    <h3 class="upr-body-text">Welcome to camping Site</h3>
                    <a class="btn upr-body-btn" href="/campgrounds">Start Exploring</a>
              </div>
            </div>
          </div>
          <div class="middle-container">
            <div class="middle-body">
                  <h6 class="middle-body-upper-text">Where to Go</h6>
                  <h1 class="middle-body-lower-text">Some Popular Destinations</h1>
            </div>
            <div class="carousel">
                <div id="campingCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                          <div class="col-lg-6">
                            <img src="https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fG5pZ2h0JTIwY2FtcGluZyUyMGltYWdlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="car-img d-block w-100" alt="...">
                          </div>
                          <div class="col-lg-6">
                            <img src="https://images.unsplash.com/photo-1486915309851-b0cc1f8a0084?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fG5pZ2h0JTIwY2FtcGluZyUyMGltYWdlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="car-img d-block w-100" alt="...">
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                          <div class="col-lg-6">
                            <img src="https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fG5pZ2h0JTIwY2FtcGluZyUyMGltYWdlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="car-img d-block w-100" alt="...">
                          </div>
                          <div class="col-lg-6">
                            <img src="https://images.unsplash.com/photo-1486915309851-b0cc1f8a0084?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fG5pZ2h0JTIwY2FtcGluZyUyMGltYWdlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="car-img d-block w-100" alt="...">
                          </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#campingCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#campingCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="card middle-card">
                    <div class="middle-card-body">
                      <div class="card-title">
                        <h1 class="middle-card-title"><b>Feeling Lost</b> And Not Knowing The Way? </h1>
                      </div>
                      <div class="card-text">
                        <small class="middle-card-text">Starting from the anxiety of climbers when visiting a new climbing location, the possibility of getting lost is very large. That's why we are here for those of you who want to start adventure </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="guide-card">
                  <div class="guide-card-body">
                    <div class="guide-card-title">
                      <h1 class="card-title"><b>Feeling Lost</b> And Not Knowing The Way? </h1>
                    </div>
                    <div class="guide-card-text">
                      <small class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex non odio dolor consequuntur. Laborum quia deserunt ullam! Eos quod facere fuga voluptas molestias provident voluptates aspernatur repudiandae amet doloremque sunt, magni reprehenderit dolorum officiis ratione laudantium, eveniet asperiores? Tempore tempora quisquam consequuntur dignissimos error, vero non inventore explicabo cum expedita.
                      </small>
                    </div>
                  </div>
                </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>