<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campground</title>
</head>
<body>
    <h1>Edit the Campground</h1>
    <form method="post" action = "/campgrounds/<%= campground._id %>?_method=PUT">
        <div>
            <label for="title">Enter the title to Update the Campground</label>
            <input type="text" name="campground[title]" id="title">
        </div>
        <br>
        <div>
            <label for="location">Enter the Location to Update the Campground</label>
            <input type="text" name="campground[location]" id="location">
        </div>
        <br>
        <div>
            <button>Update the Campground</button>
        </div>
    </form>
    <p>
        <a href="/campgrounds/<%=campground._id%>">Back to Campground</a>
    </p>
</body>
</html>