<% layout('layouts/boilerplate') -%>
    <h1>All Campgrounds</h1>
        <% for( let campground of campgrounds) { %>
            <div class="card">
                <div class="card-body">
                    <img src="<%= campground.image %>" alt="campground image" class="card-img-top">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text text-muted"><%= campground.location %></p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View Campground</a>
                </div>
            </div>
        <% } %>
